@import "./variables.css";
@import "./motion.css";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: var(--font-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.6;
}

@media (prefers-reduced-motion: no-preference) {
  html { scroll-behavior: smooth; }
}

html,
body {
  overscroll-behavior: none;
  touch-action: manipulation;
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom, 0);
  background-color: var(--color-bg-body);
  color: var(--color-text-default);
}

main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  flex: 1;
}

img {
  user-select: none;
  pointer-events: none;
}
