:root {
  /* LAYER 1: COLOR PALETTE - PRIMARY */
  --color-primary-100: hsl(210, 11%, 4%);
  --color-primary-500: hsl(180, 7%, 97%);
  --color-primary-700: hsl(218, 21%, 85%);

  --color-neutral-0: hsl(180, 7%, 97%);
  --color-neutral-100: hsl(218, 21%, 85%);
  --color-neutral-300: hsl(210, 8%, 25%);
  --color-neutral-500: hsl(210, 10%, 15%);
  --color-neutral-700: hsl(210, 11%, 8%);
  --color-neutral-900: hsl(210, 11%, 4%);

  /* LAYER 2: COLOR PALETTE - SEMANTIC TOKENS */
  --color-bg-body: var(--color-primary-100);
  --color-bg-surface: var(--color-neutral-700);
  --color-text-default: var(--color-primary-700);
  --color-text-brand: var(--color-primary-500);
  --color-interactive-default: var(--color-primary-500);
  --color-interactive-hover: var(--color-primary-700);
  --color-border-default: ;

  /* TYPOGRAPHY */
  --font-primary: "Inter", sans-serif;

  --font-size-sm: 0.875rem; /* 14px */
  --font-size-base: 1rem; /* 16px */
  --font-size-md: 1.125rem; /* 18px */
  --font-size-lg: 1.25rem; /* 20px */
  --font-size-xl: 1.5rem; /* 24px */
  --font-size-xxl: 2.25rem; /* 36px */

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* SPACING & LAYOUT */
  --spacing-xs: 0.25rem; /* 4px */
  --spacing-sm: 0.5rem; /* 8px */
  --spacing-md: 1rem; /* 16px */
  --spacing-lg: 2rem; /* 32px */
  --spacing-xl: 4rem; /* 64px */
  --spacing-xxl: 8rem; /* 128px */

  --container-width: 1240px;
  --container-padding: var(--spacing-lg);

  /* BORDERS, SHADOWS & TRANSITIONS */
  --border-radius-sm: 4px;
  --border-radius-md: 8px;
  --border-radius-lg: 16px;
  --border-width: 1px;

  --shadow-sm: 0 1px 2px rgba(0, 0, 0, 0.05);
  --shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -2px rgba(0, 0, 0, 0.1);
}
